#content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 640px;
}
.body {
    position: absolute;
}
#gamePanel {
    display: none;
}
#lobbyPanel {
    display: none;
}
#infoArea {
    width: 640px;
    height: 200px;
}

